<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <%- include("../style/cloudStyle.ejs") %> 
    <title>CLOUD</title>
</head>
<body>
<main class="mb-5" role="main">
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <div class="container-fluid">
          <div class="col-10 col-md-5">
            <a class="navbar-brand text-primary fs-3" href="#">HomeAssist</a>
            <% if(isAdmin){ %> 
                <a class="text-light fs-4 mx-2" href="/admin"><i class="fas fa-user-shield"></i></a>
            <% } %> 
            <button class="ms-auto p-2 border-0 fs-4 mx-2" style="max-width: 2rem;" type="button" data-bs-toggle="collapse" data-bs-target="#timeDiv" aria-expanded="false" aria-controls="timeDiv">
            <i class="fas fa-clock"></i>
            </button>
            <button class="ms-auto p-2 border-0 fs-4 mx-2" style="max-width: 2rem;" type="button" data-bs-toggle="collapse" data-bs-target="#passConf" aria-expanded="false" aria-controls="passConf">
                <i class="fas fa-cogs"></i>
                </button>
          </div>
          <div class="col-1">
            <a href="/logOut"><i class="logout fas fa-sign-out-alt"></i></a>
          </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row d-flex">
            <div class="col-12 col-md-6 d-flex justify-content-end">
                <%- include("./partials/timer") %> 
            </div>
            <div class="col-12 col-md-6 d-flex justify-content-start">
                <%- include("./partials/passConfig") %> 
            </div>
        </div>
    </div>
    

    <div class="container-fluid container-sm  d-flex flex-column">
        <% if(message){ %> 
            <div class="alert alert-<%= status %>  alert-dismissible fade show text-center m-3" role="alert">
                <strong><%= message %></strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        <% } %> 

        <div class="container-fluid container-md">
            <div class="row">
                <div id="dragArea" class="col-12 d-flex justify-content-center">
                    <form class="m-3 mx-5 d-flex flex-column" method="post" action="/heyCLOUD/upload<%= url %> " enctype="multipart/form-data">
                        <div class="dragContainer">
                            <input class="form-control dragDrop" type="file" name="file" id="formFile">
                            <input class="btn btn-primary p-1 m-2 w-50" type="submit" value="Upload">
                        </div>
                    </form>
                </div>
            </div>

            <nav class="userPath shadow" aria-label="breadcrumb">
                <ol class="breadcrumb mx-2 mb-0 fs-4">
                    <% for(let i = 0; i < breadCrumb.length; i++){ %>
                        <% if(i === (breadCrumb.length - 1) && i > 1){ %>  
                            <li class="breadcrumb-item active" aria-current="page"><%= breadCrumb[i]%></li>
                        <%} else if(i === 0){ %>
                            <li class="breadcrumb-item"><i class="fas fa-database"></i></li>
                        <%} else if(i === 1){ %>
                            <li class="breadcrumb-item"><a href="<%= references[i] %> ">My cloud</a></li>
                        <% } else { %>
                            <li class="breadcrumb-item"><a href="<%= references[i] %> "><%= breadCrumb[i]%></a></li>
                        <% } %>  
                    <% } %>
                </ol>
              </nav>

            <hr style="color: rgb(31, 31, 31);">
        </div>

        <button class="btn btn-primary mb-3 mx-4" style="max-width: 10rem;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Create folder
        </button>
        <div class="collapse container mx-3 w-50" style="min-width: 300px;" id="collapseExample">
                <form class="input-group mb-3" action="/heyCLOUD/create<%= url %>" method="post">
                    <input class="btn btn-outline-success shadow-sm" type="submit" name="submit" value="Create" id="button-addon1">
                    <input type="text" name="name" class="form-control shadow-sm" placeholder="Folder name" aria-label="Example text with button addon" aria-describedby="button-addon1">
                </form> 
        </div>
    </div>
    
    
    
    <div id="mainBox" class="container-fluid container-md mb-5">
        <div class="row">
            <%- include("./partials/filesBox") %> 
        </div>
    </div>
</main>

<footer class="footer mt-5 footerText" style="min-height: 8rem;">
    <hr>
    <div class="container-fluid container-md d-flex flex-column align-content-center">
        <div class="col-12 text-center">
            <span class="text-muted"><i class="far fa-registered"></i> This cloud was created by Samuel Šipikal. It should only be used by persons authorized by the author. Any unauthorized access may be subject to a financial penalty. Every file in this web app is stored physicaly on Raspberry Pi 4 server and managed by HomeAssist software.</span>
        </div>
        <strong class="text-center text-muted">
            In case of any problem, you can contact the author at the following links...
        </strong>
        <div class="d-flex justify-content-center m-3 display-5">
            <a href="https://github.com/SamuelFoc"><i class="fab fa-github mx-2"></i></a>
            <a href="https://www.instagram.com/samo_sipikal/"><i class="fab fa-instagram mx-2"></i></a>
            <a href="https://www.facebook.com/samo.sipikal"><i class="fab fa-facebook mx-2"></i></a>
        </div>
    </div>
</footer>

</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
</script>

</html>